{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> 
  <p><strong>First Name:</strong> {{ author.first_name }}</p>
  <p><strong>Last Name:</strong> {{ author.last_name }}</p> 
  <p><strong>Language:</strong> {{ author.date_of_birth }}</p>  
  <p><strong>Genre:</strong> {{ author.date_of_death }}</p>  

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    
  </div>
{% endblock %}